<div class="flex flex-col gap-4 w-64">
  <div>
    <span class="text-sm font-semibold">Primary</span>
    <div class="pt-2 flex gap-2 flex-wrap justify-start">
      @for (primaryColor of layoutService.primaryColors(); track primaryColor.name) {
        <button
          type="button"
          [title]="primaryColor.name"
          (click)="updateColors($event, 'primary', primaryColor)"
          [ngClass]="{
            'outline outline-primary': primaryColor.name === layoutService.selectedPrimary(),
          }"
          class="cursor-pointer w-5 h-5 rounded-full flex shrink-0 items-center justify-center outline-offset-1 shadow"
          [style]="{
            'background-color':
              primaryColor?.name === 'noir' ? 'var(--text-color)' : primaryColor?.palette?.['500'],
          }"
        ></button>
      }
    </div>
  </div>
  <div>
    <span class="text-sm font-semibold">Surface</span>
    <div class="pt-2 flex gap-2 flex-wrap justify-start">
      @for (surface of layoutService.surfaces; track surface.name) {
        <button
          type="button"
          [title]="surface.name"
          (click)="updateColors($event, 'surface', surface)"
          class="cursor-pointer w-5 h-5 rounded-full flex shrink-0 items-center justify-center p-0 outline-offset-1"
          [ngClass]="{
            'outline outline-primary': layoutService.selectedSurface()
              ? layoutService.selectedSurface() === surface.name
              : layoutService.isDarkTheme()
                ? surface.name === 'zinc'
                : surface.name === 'slate',
          }"
          [style]="{
            'background-color': surface?.palette?.['500'],
          }"
        ></button>
      }
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <span class="text-sm font-semibold">Presets</span>
    <p-selectbutton
      [options]="layoutService.presetOptions"
      [ngModel]="layoutService.selectedPreset()"
      (ngModelChange)="onPresetChange($event)"
      [allowEmpty]="false"
      size="small"
    />
  </div>
</div>
